body {
  background-image: url("");
  background-size:auto 100vh;
  font-family: arial;
  height:100vh;
  background-color: rgb(128, 124, 124);
}

.menu{
 background-color:white;                
}
.menu ul {
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration:none;
  color:black;
}

a:hover{
  text-decoration:underline;
}

.menu li {
  list-style:none;
}
.site-title{
  text-align: center;
}
.site-subtitle{
  text-align: center;
}
